    <div class="error_box">
      <div class="caption_v1">Something didn't go quite as it was supposed to. We're sorry about this.</div>
      <div class="error_text">@_ERROR_MESSAGE_@</div>
      <div class="error_text">You can report the problem to the <a class="default_link" href="mailto:webmaster-nineq@devoid-pointer.net">webmaster</a>.</div>
    </div>
