
  <div class="backgrounded_block">
    <div class="caption_v1">Zadání:</div>
    <div class="assignment_text"><span class="key_info">@_SAMPLE_VOLUME_INT_@,@_SAMPLE_VOLUME_DEC_@&nbsp;.&nbsp;10<span class="exponent">@_SAMPLE_VOLUME_EXP_@</span>&nbsp;dm<span class="exponent">3</span> dvojsytné @_SAMPLE_TYPE_@</span> o koncentraci <span class="key_info">@_SAMPLE_CONC_INT_@,@_SAMPLE_CONC_DEC_@&nbsp;.&nbsp;10<span class="exponent">@_SAMPLE_CONC_EXP_@</span>&nbsp;mol/L</span> o <span class="key_info">@_PKX_TYPE_@&nbsp;=&nbsp;@_PKX1_INT_@,@_PKX1_DEC_@</span> a <span class="key_info">@_PKX_TYPE_@&nbsp;=&nbsp;@_PKX2_INT_@,@_PKX2_DEC_@</span> je titrováno odměrným roztokem jednosytné <span class="key_info">@_TITRANT_TYPE_@</span> o koncentraci <span class="key_info">@_TITRANT_CONC_INT_@,@_TITRANT_CONC_DEC_@&nbsp;.&nbsp;10<span class="exponent">@_TITRANT_CONC_EXP_@</span></span>&nbsp;mol/L. Spočítejte pH roztoku a objem přidaného titračního činidla v těchto bodech:
      <div class="assignment_text">
        <ul>
          <li>Na počátku titrace</li>
          <li>V polovině první ekvivalence</li>
          <li>V první ekvivalenci</li>
          <li>V polovině druhé ekvivalence</li>
          <li>V druhé ekvivalenci</li>
          <li>V 1,5násobku druhé ekvivalence</li>
        </ul>
      </div>
    <form class="problem_form" method="post" action="/check_answer" enctype="multipart/form-data">
	<input type="hidden" name="@_RESERVED__PROBLEM_ID_@" value="@_RESERVED__PROBLEM_ID_VAL_@">
        <div class="form_line">
          <span class="caption_v2">Počátek:</span>
        </div>
	<div class="form_line">
	  <label class="form_label_ac" for="@_ANSWER_PH_START_@">pH:</label>
	  <input class="form_input_ac" type="text" name="@_ANSWER_PH_START_@" maxlength="128" value="@_FILLIN_1_PH_@" />
	</div>

        <div class="form_line">
	  <span class="caption_v2">Polovina první ekvivalence:</span>
        </div>
        <div class="form_line">
	  <label class="form_label_ac" for="@_ANSWER_PH_FIRST_HALF_@">pH:</label>
	  <input class="form_input_ac" type="text" name="@_ANSWER_PH_FIRST_HALF_@" maxlength="128" value="@_FILLIN_2_PH_@" />
          <label class="form_label_ac" for="@_ANSWER_VOLUME_FIRST_HALF_@">Objem [mL]:</label>
	  <input class="form_input_ac" type="text" name="@_ANSWER_VOLUME_FIRST_HALF_@" maxlength="128" value="@_FILLIN_2_VOL_@" />
	</div>

        <div class="form_line">
	  <span class="caption_v2">První ekvivalence:</span>
	</div>
        <div class="form_line">
	  <label class="form_label_ac" for="@_ANSWER_PH_FIRST_EQUIV_@">pH:</label>
	  <input class="form_input_ac" type="text" name="@_ANSWER_PH_FIRST_EQUIV_@" maxlength="128" value="@_FILLIN_3_PH_@" />
          <label class="form_label_ac" for="@_ANSWER_VOLUME_FIRST_EQUIV_@">Objem [mL]:</label>
	  <input class="form_input_ac" type="text" name="@_ANSWER_VOLUME_FIRST_EQUIV_@" maxlength="128" value="@_FILLIN_3_VOL_@" />
	</div>

        <div class="form_line">
	  <span class="caption_v2">Polovina druhé ekvivalence:</span>
	</div>
        <div class="form_line">
	  <label class="form_label_ac" for="@_ANSWER_PH_SECOND_HALF_@">pH:</label>
	  <input class="form_input_ac" type="text" name="@_ANSWER_PH_SECOND_HALF_@" maxlength="128" value="@_FILLIN_4_PH_@" />
          <label class="form_label_ac" for="@_ANSWER_VOLUME_SECOND_HALF_@">Objem [mL]:</label>
	  <input class="form_input_ac" type="text" name="@_ANSWER_VOLUME_SECOND_HALF_@" maxlength="128" value="@_FILLIN_4_VOL_@" />
	</div>

        <div class="form_line">
	  <span class="caption_v2">Druhá ekvivalence:</span>
	</div>
        <div class="form_line">
	  <label class="form_label_ac" for="@_ANSWER_PH_SECOND_EQUIV_@">pH:</label>
	  <input class="form_input_ac" type="text" name="@_ANSWER_PH_SECOND_EQUIV_@" maxlength="128" value="@_FILLIN_5_PH_@" />
          <label class="form_label_ac" for="@_ANSWER_VOLUME_SECOND_EQUIV_@">Objem [mL]:</label>
	  <input class="form_input_ac" type="text" name="@_ANSWER_VOLUME_SECOND_EQUIV_@" maxlength="128" value="@_FILLIN_5_VOL_@" />
	</div>

        <div class="form_line">
	  <span class="caption_v2">Nadbytek:</span>
	</div>
        <div class="form_line">
	  <label class="form_label_ac" for="@_ANSWER_PH_OVER_SECOND_EQUIV_@">pH:</label>
	  <input class="form_input_ac" type="text" name="@_ANSWER_PH_OVER_SECOND_EQUIV_@" maxlength="128" value="@_FILLIN_6_PH_@" />
          <label class="form_label_ac" for="@_ANSWER_VOLUME_OVER_SECOND_EQUIV_@">Objem [mL]:</label>
	  <input class="form_input_ac" type="text" name="@_ANSWER_VOLUME_OVER_SECOND_EQUIV_@" maxlength="128" value="@_FILLIN_6_VOL_@" />
	</div>

	<div class="form_line">
	  <input type="submit" name="send_answer" value="Zkontrolovat" />
        </div>
    </form>
    </div>
  </div>

    @_ANSWER_SECTION_@

    <div class="backgrounded_block">
      <span class="expand_section" onclick="show_hide_item('hints_section', 'hints_button', 'block', '/images/arrow_right.png', '/images/arrow_down.png')">
	<img class="expand_section" id="hints_button" src="/images/arrow_right.png" alt="Zobraz sekci" title="Zobraz sekci" />
      </span>
      <div class="caption_v1">Nápověda:</div>
      <div class="assignment_hint" id="hints_section">
	@_HINTS_SECTION_@
      </div>
    </div>

    <div class="backgrounded_block">
      <div class="caption_v1">Pokračování:</div>
      <form class="problem_form" method="post" action="/next_problem" enctype="multipart/form-data">
	<input type="hidden" name="@_RESERVED__PROBLEM_CATEGORY_@" value="@_RESERVED__PROBLEM_CATEGORY_VAL_@">
	<div class="form_line">
	  <input type="submit" name="next_problem" value="Další příklad" />
	</div>
      </form>
    </div>
