      <form class="problem_form" method="post" action="/next_problem" enctype="multipart/form-data">
	<input type="hidden" name="@_RESERVED__PROBLEM_CATEGORY_@" value="@_RESERVED__PROBLEM_CATEGORY_VAL_@">
	<div class="form_line">
	  <label class="form_label_sol_param" for="@_PARAMETER_IONIC_STRENGTH_@">Uvažovat vliv málo rozpustné soli na iontovou sílu:</label>
	  <input type="checkbox" name="@_PARAMETER_IONIC_STRENGTH_@" value="True" @_PARAMETER_IONIC_STRENGTH_CHECKED_@ />
	</div>
	<div class="form_line">
	  <label class="form_label_sol_param" for="@_PARAMETER_PROBLEM_SUBTYPE_@">Typ příkladu:</label>
	  <select name="@_PARAMETER_PROBLEM_SUBTYPE_@">
	    <option value="@_V_FROM_G_KS_@" @_V_FROM_G_KS_SELECTED_@>Objem potřebný k rozpuštění, zadáno Ks, m, MW</option>
	    <option value="@_KS_FROM_G_V_@" @_KS_FROM_G_V_SELECTED_@>Součin rozpustnosti, zadáno m, V, MW</option>
	    <option value="@_C_FROM_KS_DIFFERENT_IONS_@" @_C_FROM_KS_DIFFERENT_IONS_SELECTED_@>Koncentrace rozpuštěné látky v přítomnosti indiferentního elektrolytu</option>
	    <option value="@_C_FROM_KS_SHARED_ION_@" @_C_FROM_KS_SHARED_ION_SELECTED_@>Koncentrace rozpuštěné látky v přítomnosti elektrolytu se stejným aniontem</option>
	  </select>
	</div>
	<div class="form_line">
	  <input type="submit" name="next_problem" value="Další příklad" />
	</div>
      </form>
