
  <div class="backgrounded_block">
    <div class="caption_v1">Zadání:</div>
    <div class="assignment_text">Vypočítejte pH <span class="key_info">@_SUBSTANCE_@</span> jejíž <span class="key_info">@_PKX_@ = @_PKX_VALUE_INT_@,@_PKX_VALUE_DEC_@</span> a koncentrace <span class="key_info">c = @_CONCENTRATION_INT_@,@_CONCENTRATION_DEC_@ . 10<span class="exponent">@_CONCENTRATION_EXP_@</span></span> mol/L.</div>
      <form class="problem_form" method="post" action="/check_answer" enctype="multipart/form-data">
	<input type="hidden" name="@_RESERVED__PROBLEM_ID_@" value="@_RESERVED__PROBLEM_ID_VAL_@">
	<div class="form_line">
	  <label class="form_label_ac" for="@_ANSWER_PH_@">pH:</label>
	  <input class="form_input_ac" type="text" name="@_ANSWER_PH_@" maxlength="128" value="@_FILLIN_ANSWER_@" />
	</div>
	<div class="form_line">
	  <label class="form_label_ac" for="@_ANSWER_SIMPLIFICATION_@">Lze zanedbat:</label>
	  <select class="form_input_ac" name="@_ANSWER_SIMPLIFICATION_@">
	    <option value="@_ANSWER_OPTION_SIMPL_BOTH_@">Vše</option>
	    <option value="@_ANSWER_OPTION_SIMPL_ATPR_@">Autoprotolýzu</option>
	    <option value="@_ANSWER_OPTION_SIMPL_DISSOC_@">Úbytek disociací</option>
	  </select>
	</div>
	<div class="form_line">
	  <input type="submit" name="send_answer" value="Zkontrolovat" />
	</div>
      </form>
      <form class="problem_form" method="post" action="/show_walkthrough">
	<input type="hidden" name="@_RESERVED__PROBLEM_ID_@" value="@_RESERVED__PROBLEM_ID_VAL_@">
	<div class="form_line">
	  <input type="submit" name="show_walkthrough" value="Zobrazit řešení" />
	</div>
      </form>
    </div>
 
    @_WALKTHROUGH_SECTION_@
    @_ANSWER_SECTION_@

    <div class="backgrounded_block">
      <span class="expand_section" onclick="show_hide_item('hints_section', 'hints_button', 'block', '/images/arrow_right.png', '/images/arrow_down.png')">
	<img class="expand_section" id="hints_button" src="/images/arrow_right.png" alt="Zobraz sekci" title="Zobraz sekci" />
      </span>
      <div class="caption_v1">Nápověda:</div>
      <div class="assignment_hint" id="hints_section">
	@_HINTS_SECTION_@
      </div>
    </div>

    <div class="backgrounded_block">
      <div class="caption_v1">Parametry příkladů:</div>
      <form class="problem_form" method="post" action="/next_problem" enctype="multipart/form-data">
	<input type="hidden" name="@_RESERVED__PROBLEM_CATEGORY_@" value="@_RESERVED__PROBLEM_CATEGORY_VAL_@">
	<div class="form_line">
	  <label class="form_label_ac_param" for="@_PARAMETER_NO_BOTH_SIMPLIFICATIONS_@">Pouze příklady, kde nelze zanedbat oba jevy:</label>
	  <input type="checkbox" name="@_PARAMETER_NO_BOTH_SIMPLIFICATIONS_@" value="True" @_PARAMETER_NO_BOTH_SIMPLIFICATIONS_CHECKED_@ />
	</div>
	<div class="form_line">
	  <input type="submit" name="next_problem" value="Další příklad" />
	</div>
      </form>
    </div>
