      <form class="problem_form" method="post" action="/check_answer" enctype="multipart/form-data">
	<input type="hidden" name="@_RESERVED__PROBLEM_ID_@" value="@_RESERVED__PROBLEM_ID_VAL_@">
	<div class="form_line">
	  <label class="form_label_sol" for="ANSWER_NUM">Výsledek:</label>
	  <input class="form_input_sol" type="text" name="ANSWER_NUM" maxlength="128" value="@_FILLIN_ANSWER_@" />
	</div>
	<div class="form_line">
	  <input type="submit" name="send_answer" value="Zkontrolovat" />
	</div>
      </form>
      <form class="problem_form" method="post" action="/show_walkthrough">
        <input type="hidden" name="@_RESERVED__PROBLEM_ID_@" value="@_RESERVED__PROBLEM_ID_VAL_@" />
        <div class="form_line">
	  <input type="submit" name="show_walkthrough" value="Zobrazit řešení" />
        </div>
      </form>
