
  <div class="backgrounded_block">
    <div class="caption_v1">Zadání:</div>
    <div class="assignment_text">V jakém objemu se právě zcela rozpustí <span class="key_info">@_SAMPLE_WEIGHT_INT_@,@_SAMPLE_WEIGHT_DEC_@&nbsp;g</span> látky <span class="key_info">X<span class="subscript">@_X_STOCHIO_@</span>Z<span class="subscript">@_Z_STOCHIO_@</span></span> o <span class="key_info">K<span class="subscript">s</span>=@_KS_INT_@,@_KS_DEC_@&nbsp;.&nbsp;10<span class="exponent">@_KS_EXP_@</span></span> a molekulové hmotnosti <span class="key_info">MW=@_MOLAR_MASS_INT_@,@_MOLAR_MASS_DEC_@&nbsp;g/mol</span>? Výsledek uveďte ve dm<span class="exponent">3</span>.</div>
    @_SUBMIT_FORM_@
    </div>
 
    @_WALKTHROUGH_SECTION_@
    @_ANSWER_SECTION_@

    <div class="backgrounded_block">
      <span class="expand_section" onclick="show_hide_item('hints_section', 'hints_button', 'block', '/images/arrow_right.png', '/images/arrow_down.png')">
	<img class="expand_section" id="hints_button" src="/images/arrow_right.png" alt="Zobraz sekci" title="Zobraz sekci" />
      </span>
      <div class="caption_v1">Nápověda:</div>
      <div class="assignment_hint" id="hints_section">
	@_HINTS_SECTION_@
      </div>
    </div>

    <div class="backgrounded_block">
      <div class="caption_v1">Parametry příkladů:</div>
      @_PARAMETERS_FORM_@ 
    </div>
