
  <div class="backgrounded_block">
    <div class="caption_v1">Zadání:</div>
    <div class="assignment_text">Jaké je K<span class="subscript">s</span> látky <span class="key_info">X<span class="subscript">@_X_STOCHIO_@</span>Z<span class="subscript">@_Z_STOCHIO_@</span></span> o molární hmotnosti <span class="key_info">MW=@_MOLAR_MASS_INT_@,@_MOLAR_MASS_DEC_@&nbsp;g/mol</span>, jejíž <span class="key_info">@_SAMPLE_WEIGHT_INT_@,@_SAMPLE_WEIGHT_DEC_@&nbsp;g</span> se právě zcela rozpustí v <span class="key_info">@_SAMPLE_VOLUME_INT_@,@_SAMPLE_VOLUME_DEC_@&nbsp;.&nbsp;10<span class="exponent">@_SAMPLE_VOLUME_EXP_@</span>&nbsp;dm<span class="exponent">3</span></span> vody?</div>
    @_SUBMIT_FORM_@
    </div>
 
    @_ANSWER_SECTION_@

    <div class="backgrounded_block">
      <span class="expand_section" onclick="show_hide_item('hints_section', 'hints_button', 'block', '/images/arrow_right.png', '/images/arrow_down.png')">
	<img class="expand_section" id="hints_button" src="/images/arrow_right.png" alt="Zobraz sekci" title="Zobraz sekci" />
      </span>
      <div class="caption_v1">Nápověda:</div>
      <div class="assignment_hint" id="hints_section">
	@_HINTS_SECTION_@
      </div>
    </div>

    <div class="backgrounded_block">
      <div class="caption_v1">Parametry příkladů:</div>
      @_PARAMETERS_FORM_@ 
    </div>
