  <a class="main_navlink" href="/start?problem_category=ACIDOBAZIC">pH jednosytné kyseliny/báze</a><br />
  <a class="main_navlink" href="/start?problem_category=SOLUBILITY">Srážecí rovnováhy</a><br />
  <a class="main_navlink" href="/start?problem_category=TITRATION_CURVE">Titrační křivka</a><br />
  <hr class="main_navlink" />
  <a class="main_navlink" href="/static/faq.html">FAQ</a><br />

