    </div>
    <div id="spacer"></div>
    <div id="footer">
      <span id="core_info">Powered by: <a class="footer_link" href="http://libre.adacore.com/tools/aws/">AWS</a> | <a class="footer_link" href="http://gitweb.devoid-pointer.net/?p=Nine-Q.git;a=summary">Nine-Q</a> | <a class="footer_link" href="http://archlinux.org">Arch Linux</a></span>
      <span id="nineq_version_tag">Ver.:&nbsp;0.03C</span>
    </div>
  </div>
</body>

</html>
