	<div class="hint_block">
	  <div class="hint_text">
            Přítomnost dobře rozpustného indiferentního elektrolytu - látky, která nemá s danou solí žádný společný ion - se projeví pouze změnou iontové síly roztoku, ve kterém se daná sůl rozpouští. Je tedy třeba tuto iontovou spočítat a uvažovat ji ve výpočtu. Při výpočtu iontové síly se uvažují jen ionty dobře rozpustného indiferentního elektrolytu. (Samozřejmě by se daly uvažovat i ionty málo rozpustné soli; příklad by se pak počítal &bdquo;nadvakrát&rdquo;, viz příklady na <span class="emphasis">Objem potřebný k rozpuštění</span> a <span class="emphasis">Výpočet součinu rozpustnosti</span>)
          </div>

	  <div class="hint_caption">
	    Definice součinu rozpustnosti K<span class="subscript">N</span>A<span class="subscript">M</span>:
	  </div>
	  <img class="math_formula" src="/images/sol_def_activity.png" alt="Definice součinu rozpustnosti - aktivity" />

          <div class="hint_caption">
	    Zjednodušeně lze vyjádřit pomocí koncentrací:
	  </div>
	  <img class="math_formula" src="/images/sol_def_conc.png" alt="Definice součinu rozpustnosti - koncentrace" />

          <div class="hint_caption">
	    Iontová síla:
	  </div>
	  <img class="math_formula_multiline" src="/images/ionic_strength.png" alt="Iontová síla" />

          <div class="hint_caption">
	    McInnesova aproximace:
	  </div>
	  <img class="math_formula_multiline" src="/images/mcinnes_approximation.png" alt="McInnesova aproximace" />

          <div class="hint_caption">
	    Součin rozpustnosti včetně aktivitních koeficientů:
	  </div>
	  <img class="math_formula" src="/images/sol_def_acco.png" alt="Součin rozpustnosti včetně aktivitních koeficientů" />
	</div>
	
