	<div class="hint_block">
	  <div class="hint_caption">
	    Definice součinu rozpustnosti látky K<span class="subscript">N</span>A<span class="subscript">M</span>:
	  </div>
	  <img class="math_formula" src="/images/sol_def_activity.png" alt="Definice součinu rozpustnosti - aktivity" />

          <div class="hint_caption">
	    Zjednodušeně lze vyjádřit pomocí koncentrací:
	  </div>
	  <img class="math_formula" src="/images/sol_def_conc.png" alt="Definice součinu rozpustnosti - koncentrace" />

          <div class="hint_caption">
	    Koncentrace rozpuštěné soli:
	  </div>
	  <img class="math_formula_multiline" src="/images/sol_def_soluted_conc.png" alt="Koncentrace rozpuštěné soli" />

          <div class="hint_caption">
	    Objem nutný k rozpuštění dané koncentrace soli:
	  </div>
	  <img class="math_formula_multiline" src="/images/sol_volume.png" alt="Objem nutný k rozpuštění dané koncentrace soli" />

	  <div class="hint_text">
	    Pokud chceme počítat přesněji, je nutné počítat s <span class="emphasis">aktivitami</span> místo koncentrací. Aktivitu - resp. aktivitní koeficient -  lze spočítat <span class="emphasis">McInnesovou aproximací</span> z iontové síly. Jak zjistíme iontovou sílu? Nejdříve spočítáme příklad &bdquo;klasicky&rdquo; a z vypočtené koncentrace rozpuštěných iontů určíme iontovou sílu a aktivitní koeficienty. S užitím těchto aktivitních koeficientů pak spočítáme příklad znovu.
	  </div>

          <div class="hint_caption">
	    Iontová síla:
	  </div>
	  <img class="math_formula_multiline" src="/images/ionic_strength.png" alt="Iontová síla" />

          <div class="hint_caption">
	    McInnesova aproximace:
	  </div>
	  <img class="math_formula_multiline" src="/images/mcinnes_approximation.png" alt="McInnesova aproximace" />

          <div class="hint_caption">
	    Součin rozpustnosti včetně aktivitních koeficientů:
	  </div>
	  <img class="math_formula" src="/images/sol_def_acco.png" alt="Součin rozpustnosti včetně aktivitních koeficientů" />
	</div>
	
