	<div class="hint_block">
	  <div class="hint_caption">
	    Definice pH:
	  </div>
	  <img class="math_formula" src="/images/ph_definition.png" alt="Definice pH" />
	</div>

	<div class="hint_block">
	  <div class="hint_caption">
	    Často se používá zjednodušená definice, která uvažuje pouze s koncentrací kationtu H<span class="subscript">3</span>O<span class="exponent">+</span>
	  </div>
	  <img class="math_formula" src="/images/ph_calc.png" alt="Zjednodušená definice pH" />
	</div>

	<div class="hint_block">
	  <div class="hint_caption">
	    Nejjednodušší vztah pro výpočet koncentrace kationtu H<span class="subscript">3</span>O<span class="exponent">+</span>
	  </div>
	  <img class="math_formula" src="/images/h3o_calc.png" alt="Základní vztah pro koncentraci [H3O+]" />
	</div>

	<div class="hint_block">
	  <div class="hint_caption">
	    V některých případech je nutné do základního vztahu pro výpočet koncentrace H<span class="subscript">3</span>O přidat korekce na vliv <span class="emphasis">autoprotolýzy</span> či <span class="emphasis">úbytku disociací</span>. Existují vztahy, z nichž můžeme určit, kdy je nutné který vliv uvažovat.
	  </div>
	  <div class="hint_caption">
	    Je-li splněna tato nerovnice, lze zanedbat vliv <span class="emphasis">autoprotolýzy</span>:
	  </div>
	  <img class="math_formula_multiline" src="/images/ign_atpr_acid.png" alt="Ověření zanedbání autoprotolýzy - vztah" />
	  <div class="hint_caption">
	    Je-li splněna tato nerovnice, lze zanedbat vliv <span class="emphasis">úbytku disociací</span>:
	  </div>
	  <img class="math_formula_multiline" src="/images/ign_dissoc_acid.png" alt="Ověření zanedbání autoprotolýzy - vztah" />
	</div>

	<div class="hint_block">
	  <div class="hint_caption">
	    Vztah pro koncentraci H<span class="subscript">3</span>O , je-li uvažována autoprotolýza:
	  </div>
	  <img class="math_formula" src="/images/h3o_calc_atpr_acid.png" alt="Vztah pro koncentraci H3O+ s autoprotolýzou" />
	  <div class="hint_caption">
	    Vztah pro koncentraci H<span class="subscript">3</span>O , je-li uvažován úbytek disociací:
	  </div>
	  <img class="math_formula_multiline" src="/images/h3o_calc_dissoc_acid.png" alt="Vztah pro koncentraci H3O+ s úbyktem disociací" />
	</div>

	<div class="hint_block">
	  <div class="hint_caption">
	    Grafické znázornění oblastí, kde je třeba uvažovat <span class="emphasis">autoprotolýzu</span> a <span class="emphasis">úbytek disociací:</span>
	  </div>
	  <img id="ignore_chart_ac" src="/images/ign_chart_acid.png" />
	</div>

