	<div class="hint_block">
          <div class="hint_text">
            Rovnováha rozpustnosti málo rozpustné látky je ovlivněna přítomností dobře rozpuštěné soli, která s ní sdílí aniont - viz <span class="emphasis">Le Châtelierův princip</span>. Pokud je tedy v roztoku přítomna dobře rozpustná sůl, která má s danou solí společný anion, má daná špatně rozpustná sůl problém nacpat &bdquo;svoje&ldquo; anionty do roztoku, protože už jich tam dost je. Rozpustnost dané soli se proto ještě sníží. Kdyby byl v roztoku přítomen dobře rozpustný elektrolyt, který by s danou solí sdílel kation, platilo by totéž.
            <div class="paragraph">
            Správně by se ještě měl uvažovat vliv iontové síly dobře rozpustné soli. Vzhledem k tomu, že v těchto případech rozpustnost málo rozpustné soli ještě dost výrazně klesne, dopouštíme se ignorováním iontové síly jen velmi malé chyby.
            </div>
          </div>

	  <div class="hint_caption">
	    Definice součinu rozpustnosti K<span class="subscript">N</span>A<span class="subscript">M</span>:
	  </div>
	  <img class="math_formula" src="/images/sol_def_activity.png" alt="Definice součinu rozpustnosti - aktivity" />

          <div class="hint_caption">
	    Zjednodušeně lze vyjádřit pomocí koncentrací:
	  </div>
	  <img class="math_formula" src="/images/sol_def_conc.png" alt="Definice součinu rozpustnosti - koncentrace" />

          <div class="hint_caption">
	    Zjednodušeně lze říci, že koncentrace sdíleného aniontu odpovídá koncentraci aniontu pocházejícího jen z dobře rozpustné soli.
	  </div>
	  <img class="math_formula" src="/images/sol_def_shared_ion.png" alt="Součin rozpustnosti, sdílený anion" /> 

          <div class="hint_caption">
	    Koncentrace rozpuštěného kationu dané soli, je-li v roztoku přítomen dobře rozpustný elektrolyt, který má s danou solí společný anion:
	  </div>
	  <img class="math_formula_multiline" src="/images/sol_shared_ion_conc.png" alt="Koncentrace rozpuštěného kationu" />         
        </div>
