	<div class="hint_block">
	  <div class="hint_caption">
	    Definice pOH:
	  </div>
	  <img class="math_formula" src="/images/poh_definition.png" alt="Definice pOH" />
	</div>

	<div class="hint_block">
	  <div class="hint_caption">
	    Často se používá zjednodušená definice, která uvažuje pouze s koncentrací aniontu OH<span class="exponent">-</span>
	  </div>
	  <img class="math_formula" src="/images/poh_calc.png" alt="Zjednodušená definice pOH" />
	</div>

	<div class="hint_block">
	  <div class="hint_caption">
	    Základní vztah pro koncentraci aniontů OH<span class="exponent">-</span>, není-li uvažován vliv <span class="emphasis">autoprotolýzy</span> nebo <span class="emphasis">úbytku disociací</span>:
	  </div>
	  <img class="math_formula" src="/images/oh_calc.png" alt="Základní vztah pro koncentraci -OH" />
	</div>

	<div class="hint_block">
	  <div class="hint_caption">
	    V některých případech je nutné do základního vztahu pro výpočet koncentrace OH<span class="exponent">-</span>, přidat korekce na vliv <span class="emphasis">autoprotolýzy</span> či <span class="emphasis">úbytku disociací</span>. Existují vztahy, z nichž můžeme určit, kdy je nutné který vliv uvažovat.
	  </div>
	  <div class="hint_caption">
	    Je-li splněna tato nerovnice, lze zanedbat vliv <span class="emphasis">autoprotolýzy</span>:
	  </div>
	  <img class="math_formula_multiline" src="/images/ign_atpr_base.png" alt="Ověření zanedbání autoprotolýzy - vztah" />
	  <div class="hint_caption">
	    Je-li splněna tato nerovnice, lze zanedbat vliv <span class="emphasis">úbytku disociací</span>:
	  </div>
	  <img class="math_formula_multiline" src="/images/ign_dissoc_base.png" alt="Ověření zanedbání autoprotolýzy - vztah" />
	</div>

	<div class="hint_block">
	  <div class="hint_caption">
	    Vztah pro koncentraci OH<span class="exponent">-</span>, je-li uvažována autoprotolýza:
	  </div>
	  <img class="math_formula" src="/images/oh_calc_atpr_base.png" alt="Vztah pro koncentraci -OH s autoprotolýzou" />
	  <div class="hint_caption">
	    Vztah pro koncentraci OH<span class="exponent">-</span>, je-li uvažován úbytek disociací:
	  </div>
	  <img class="math_formula_multiline" src="/images/oh_calc_dissoc_base.png" alt="Vztah pro koncentraci -OH s úbyktem disociací" />
	</div>

	<div class="hint_block">
	  <div class="hint_caption">
	    Grafické znázornění oblastí, kde je třeba uvažovat <span class="emphasis">autoprotolýzu</span> a <span class="emphasis">úbytek disociací:</span>
	  </div>
	  <img id="ignore_chart_ac" src="/images/ign_chart_base.png" />
	</div>
