	<div class="hint_block">
	  <div class="hint_caption">
	    pH na počátku titrace:
          </div>
          <img class="math_formula_multiline" src="/images/tc_ba_start.png" alt="pH na počátku titrace" />
          
          <div class="hint_caption">
	    pH v polovině první ekvivalence:
          </div>
          <img class="math_formula_multiline" src="/images/tc_ba_first_half_A.png" alt="pH v polovině první ekvivalence" />

          <div class="hint_caption">
	    Koncentrace obou forem je rovná, takže:
          </div>
          <img class="math_formula" src="/images/tc_ba_first_half_B.png" alt="pH v polovině první ekvivalence" />

          <div class="hint_caption">
	    pH v první ekvivalenci:
          </div>
          <img class="math_formula_multiline" src="/images/tc_ba_first_equiv.png" alt="pH v první ekvivalenci" />

          <div class="hint_caption">
	    pH v polovině druhé ekvivalence:
          </div>
          <img class="math_formula_multiline" src="/images/tc_ba_second_half_A.png" alt="pH v první ekvivalenci" />

          <div class="hint_caption">
	    Koncentrace obou forem je opět rovná, takže:
          </div>
          <img class="math_formula" src="/images/tc_ba_second_half_B.png" alt="pH v polovině první ekvivalence" />

          <div class="hint_caption">
	    pH v druhé ekvivalenci:
          </div>
          <img class="math_formula_multiline" src="/images/tc_ba_second_equiv.png" alt="pH v druhé ekvivalenci" />

          <div class="hint_caption">
	    pH v druhé nadbytku:
          </div>
          <img class="math_formula_multiline" src="/images/tc_ba_over.png" alt="pH v druhé nadbytku" />
        </div>
