  <div class="backgrounded_block">
    <div class="caption_v1">
      <div class="warning">(Průběh titrační křivky není od druhého stupně vykreslen správně, "zajímavé" body, kterými má křivka procházet jsou ale v pořádku)</div>
    </div>
    <div class="caption_v1">Odpověď:</div>
    <div class="@_ANSWER_KIND_@">@_ANSWER_MESSAGE_@</div>
    <img class="@_TITRATION_CURVE_IMAGE_CLASS_@" src="@_TITRATION_CURVE_IMAGE_PATH_@" />
  </div>
