  <div class="backgrounded_block">
    <div class="caption_v1">Řešení:</div>
      <div class="hint_block">
        <div class="hint_caption">
	  Koncentrace rozpuštěné soli:
	</div>
	<img class="math_formula_multiline" src="/images/sol_def_soluted_conc.png" alt="Koncentrace rozpuštěné soli" />
	<img class="math_formula_multiline" src="@_WT_V_PLUG_C_RESULT_@" alt="Koncentrace rozpuštěné soli" />
	<img class="math_formula" src="@_WT_V_PRE_RADEX_RESULT_@" alt="Koncentrace rozpuštěné soli" />
	<img class="math_formula" src="@_WT_V_DISS_C_RESULT_@" alt="Koncentrace rozpuštěné soli" />
      </div>

      <div class="hint_block">
        <div class="hint_caption">
	  Objem, ve kterém se dané množství soli práve zcela rozpustí:
	</div>
	<img class="math_formula_multiline" src="/images/sol_volume.png" alt="Objem" />
	<img class="math_formula_multiline" src="@_WT_V_PLUG_VOLUME_RESULT_@" alt="Objem" />
      </div>

      <div class="hint_block">
        <div class="hint_caption">
	  Konečný výsledek:
	</div>
	<img class="math_formula" src="@_WT_FINAL_RESULT_@" alt="Konečný výsledek" />
      </div>
  </div>
