  <div class="backgrounded_block">
    <div class="caption_v1">Řešení:</div>
      <div class="hint_block">
        <div class="hint_caption">
	  Koncentrace příslušného iontu:
	</div>
	<img class="math_formula" src="@_WT_CONC_ION_FORMULA_@" alt="Koncentrace příslušného iontu" />
	<img class="math_formula" src="@_WT_CONC_ION_RESULT_@" alt="Koncentrace příslušného iontu" />
      </div>

      <div class="hint_block">
        <div class="hint_caption">
	  Zkontrolujeme, zda lze zanedbat autoprotolýzu:
	</div>
	<img class="math_formula_multiline" src="@_WT_IGN_ATPR_FORMULA_@" alt="Zanedbání autoprotolýzy" />
	<img class="math_formula_multiline" src="@_WT_IGN_ATPR_RESULT_@" alt="Zanedbání autoprotolýzy" />
      </div>

      <div class="hint_block">
        <div class="hint_caption">
	  Zkontrolujeme, zda lze zanedbat úbytek disociací:
	</div>
	<img class="math_formula_multiline" src="@_WT_IGN_DISSOC_FORMULA_@" alt="Zanedbání úbytku disociací" />
	<img class="math_formula_multiline" src="@_WT_IGN_DISSOC_RESULT_@" alt="Zanedbání úbytku disociací" />
      </div>

      <div class="hint_block">
	<div class="hint_caption">
	  Výsledek kontroly zanedbání: <span class="emphasis">@_IGN_CONCLUSION_@</span>
	</div>
      </div>

      @_WT_DISSOC_CALCULATION_@

      <div class="hint_block">
        <div class="hint_caption">
	  Konečný výsledek:
	</div>
	<img class="math_formula" src="@_WT_FINAL_RESULT_@" alt="Konečný výsledek" />
      </div>
  </div>