      <div class="hint_block">
        <div class="hint_caption">
	  Výpočet koncentrace příslušného iontu, je-li uvažován úbytek disociací:
	</div>
	<img class="math_formula_multiline" src="@_WT_DISSOC_CORR_FORMULA_@" alt="Korekce na úbytek disociací" />
	<img class="math_formula_multiline" src="@_WT_DISSOC_CORR_RESULT_@" alt="Korekce na úbytek disociací" />
      </div>