  <div class="backgrounded_block">
    <div class="caption_v1">
      Jak to funguje?
    </div>
    <div class="normal_text">
      Generátor funguje &bdquo;abstraktně&rdquo;, vymyslí si smysluplné hodnoty a konstanty, ze kterých pak sestaví zadání příkladu. Místo zadání typu &bdquo;Kolik chromanu stříbrného (pK<span class="subscript">s</span>&nbsp;=&nbsp;11,05) se rozpustí v 10&nbsp;L vody?&rdquo; uvidíte &bdquo;Kolik látky stechiometrického vzorce X<span class="subscript">2</span>Z o K<span class="subscript">s</span>&nbsp;=&nbsp;8,912&nbsp;.&nbsp;10&nbsp;<span class="exponent">-12</span> se rozpustí v 10&nbsp;dm<span class="exponent">3</span>?&rdquo;
    </div>

    <div class="caption_v1">
      Jak se to používá?
    </div>
    <div class="normal_text">
      Výsledek (výsledky) Vašeho výpočtu zapiště to příslušného pole a klikněte na &bdquo;Zkontrolovat&rdquo;. Výsledky, které by měly hodně desetinných míst nebo nul, lze je zapsat &bdquo;chytrá kalkulačka-style&rdquo; třeba takto:
      <pre>0,000012345 = 1,234e-5</pre>
      <pre>8870000 = 8,87e6</pre>
      Pokud do výsledkového pole napíšete něco, co nelze rozumně interpretovat jako číslo, generátor označí odpověď jako nesprávně zadanou.
      <br />
      Další příklad Vám generátor vymyslí po kliknutí na tlačítko &bdquo;Další příklad&rdquo;. Tam, kde to má smysl můžete zároveň změnit i parametry příkladu.
    </div>

    <div class="caption_v1">
      Můj výsledek bezpochyby je správný, ale generátor tvrdí něco jiného.
    </div>
    <div class="normal_text">
      To je dost dobře možné. Pokud je rozdíl mezi Vaším a vypočteným výsledkem malý, nejspíš za to může zaokrouhlovací nepřesnost. Pokud jde o větší rozdíl, klidně může být v generátoru nějaká chyba, v čemže případě mi to <a class="default_link" href="mailto:webmaster-nineq@devoid-pointer.net">řekněte</a>.
    </div>

    <div class="caption_v1">
      Kliknu na &bdquo;Zobrazit řešení&rdquo; a ono se nic nestane.
    </div>
    <div class="normal_text">
      Sestavení obrázků s mezivýpočty chvilku trvá. Místo zběsilého klikání na tlačítko zkuste pár vteřin počkat.
    </div>
  </div>