* {
  margin: 0;
  padding: 1px;
}

.answer_kind_good {
  color: #2a7c20;
  font-size: 14pt;
  margin-left: 32px;
  margin-bottom: 32px;
}

.answer_kind_bad {
  color: #fa0d0d;
  font-size: 14pt;
  margin-left: 32px;
  margin-bottom: 32px;
}

.assignment_hint {
  display: none;
}

.assignment_text {
  font-size: 14pt;
  margin-left: 32px;
  margin-right: 32px;
}

.backgrounded_block {
  background-color: #d4e5f4;

  /* CSS3 only */
  border-radius: 10px;
  /* Pre CSS3 Mozilla */
  -moz-border-radius: 10px;
  /* Pre CSS3 Webkit */
  -webkit-border-radius: 10px;

  margin-bottom: 24px;
  padding-top: 16px;

  width: 100%;
}

.caption_v1 {
  font-size: 16pt;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 16px;
}

.caption_v2 {
  font-size: 14pt;
  margin-right: 32px;
  margin-bottom: 16px;
  font-style: italic;
}

.emphasis {
  font-style: italic;
}

.error_text {
  font-size: 12pt;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 16px;
}

.exponent {
  font-size: 75%;
  vertical-align: super;
}

.key_info {
  font-weight: bold;
}

.normal_text {
  font-size: 12pt;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 16px;
}

.problem_form {
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
  padding-right: 0px;
  padding-top: 16px;
}

  div.form_line {
    padding-top: 8px;
  }

  .form_label_ac {
    display: inline-block;
    width: 128px;
  }

  .form_label_ac_param {
    display: inline-block;
    width: 320px;
  }

  .form_input_ac {
    display: inline-block;
    width: 128px;
    margin-right: 0px;
    padding-right: 0px;
  }

.warning {
  color: red;
  font-size: inherit;
  font-weight: inherit;
}

.subscript {
  font-size: 75%;
  vertical-align: sub;
}

a.back_link {
  color: black;
  text-decoration: none;
}

a.main_navlink {
  text-align: center;
  background-color: #d4e5f4;
  color: black;
  display: block;
  padding: 8px 8px 8px;
  margin-top: 16px;
  font-size: 22pt;
  font-weight: bold;
  text-decoration: none;
  width: 470px;

  /* CSS3 only */
  border-radius: 4px;
  /* Pre CSS3 Mozilla */
  -moz-border-radius: 4px;
  /* Pre CSS3 Webkit */
  -webkit-border-radius: 4px;
}

a.default_link {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

a:visited.default_link {
  color: black;
}

a:hover.main_navlink {
  background-color: #58acf4;
}

a:visited.main_navlink {
  color: black;
}

a.footer_link {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

a:visited.footer_link {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

div.error_box {
  background-color: #ff4141;
  margin-left: 32px;
  margin-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;

  /* CSS3 only */
  border-radius: 10px;
  /* Pre CSS3 Mozilla */
  -moz-border-radius: 10px;
  /* Pre CSS3 Webkit */
  -webkit-border-radius: 10px;
}

div.hint_block {
  margin-left: 32px;
  margin-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

div.hint_caption {
  font-size: 14pt;
  margin-left: 16px;
  margin-bottom: 16px;
}

div.hint_text {
  font-size: 12pt;
  margin-left: 16px;
  margin-bottom: 16px;
}

div.paragraph {
  margin-top: 16px;
}

hr.main_navlink {
  border: 0px;
  color: white;
  background-color: black;
  display: inline-block;
  height: 3px;
  width: 485px;
}

img.expand_section {
  width: 14pt;
  height: 14pt;
  padding: 3px;
  border: 2px solid black;

  /* CSS3 only */
  border-radius: 4px;
  /* Pre CSS3 Mozilla */
  -moz-border-radius: 4px;
  /* Pre CSS3 Webkit */
  -webkit-border-radius: 4px;
}

img.hidden_image {
  display: hidden;
}

img.math_formula {
  height: 32px;
  width: auto;
  display: block;

  margin-bottom: 16px;
  margin-left: 32px;
}

img.math_formula_multiline {
  height: 58px;
  width: auto;
  display: block;

  margin-bottom: 32px;
  margin-left: 32px;
}

img.titration_curve_image {
  border: 2px solid black;
  display: table;
  margin: 16px auto;
  width: auto;
}

span.expand_section {
  float: right;
  margin-right: 32px;
}

#container {
  margin: 0 auto 0;
  width: 1000px;
  min-height: 100vh;
  position: relative;
}

#content {
  margin-top: 32px;
  width: 100%;
}

#core_info {
  display: table;
  margin: 16px auto 0px;
}

#footer {
  background-color: #58acf4;
  height: 56px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 32px;

  /* CSS3 only */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* Pre CSS3 Mozilla */
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
}

#ignore_chart_ac {
  width: 872px;
  height: auto;

  margin-bottom: 16px;
  margin-left: 32px;
}

#nineq_version_tag {
  float: right;
  font-style: italic;
}

#page_caption {
  background-color: #58acf4;

  /* CSS3 only */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* Pre CSS3 Mozilla */
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;

  height: 96px;
}

#page_caption_text {
  margin-top: 32px;
  margin-left: 32px;
  font-size: 24pt;
}
